.ks-helmet {
  min-height: 200px;
  width: 200px;
  border: 1px solid black;
  position: absolute;
  transform: skew(350deg);
  top: 20px;
  height: 120px;
  left: 40px;
  background-color: white;
}

.ks-helmet div {
  position: absolute;
  background-color: white;
}

.helmet-visor {
  width: 100px;
  height: 40px;
  background-image: linear-gradient(to right, black, gray) !important;
  top: 90px;
  /* left: 24px; */
  border: 1px solid black;
  z-index: 100;
}

@import './helmets/vertical.scss';
@import './helmets/slant-1.scss';
@import './helmets/slant-2.scss';
@import './helmets/digital-devil.scss';