

$color-background-ks-input: #383959;


/* Karts */

$wheels-separation: 20px;

$frame-size: 5px;
$frame-rear-padding: 85px;
$frame-front-padding: 105px;

$frame-highlight-padding: 97px;

$kart-body-border-radius: 10px;

$kart-steering-wheel-width: 10px;
$kart-steering-wheel-size: 60px;