@import '../../../styles/variables.scss';


.ks-select-control{
    flex: 1;
    text-align: center;
    font-weight: 600;
    background-color: $color-background-ks-input !important;
    color: white;
    cursor: pointer;
    border: none;
}

