<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-4">
        <div class="container">
            <div class="ks-section">
                <h4 class="ks-section-title">Driver</h4>

                <div class="row">
                    <div class="col-sm-12">
                        <div class="ks-input-container">
                            <label for="iRacerName" class="form-label ks-label">Racer Name</label>
                            <input type="email" class="form-control ks-text-control bg-dark text-white" id="iRacerName" 
                                [(ngModel)]="racer.racerName"
                                (ngModelChange)="racerRacerNameEventListener()">                    
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <app-dropdown-form-option [id]="'iDriverSkin'" [label]="'Driver Skin'" [options]="driverSkinIds"
                            [defaultValue]="racer.driverSkin.id" [stringValue]="racer.driverSkin.id"
                            (onChange)="racerDriverSkinEventListener($event)"></app-dropdown-form-option>
                    </div>
                    <div class="col-sm-12">
                        <app-dropdown-form-option [id]="'iDriverSkinMaterial'" [label]="'Driver Skin Material'"
                            [options]="driverSkinMaterialIds" [defaultValue]="racer.driverSkin.materialId"
                            [stringValue]="racer.driverSkin.materialId"
                            (onChange)="racerDriverSkinMaterialEventListener($event)"></app-dropdown-form-option>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 row-colors-driver">
                        <app-color-control [id]="'iColor4'" [label]="'1'"
                            [defaultValue]="racer.driverSkin.color4.toStringHex()"
                            [colorValue]="racer.driverSkin.color4"
                            (onChange)="racerColor4EventListener($event)"></app-color-control>

                        <app-color-control [id]="'iColor1'" [label]="'2'"
                            [defaultValue]="racer.driverSkin.color1.toStringHex()"
                            [colorValue]="racer.driverSkin.color1"
                            (onChange)="racerColor1EventListener($event)"></app-color-control>

                        <app-color-control [id]="'iColor2'" [label]="'3'"
                            [defaultValue]="racer.driverSkin.color2.toStringHex()"
                            [colorValue]="racer.driverSkin.color2"
                            (onChange)="racerColor2EventListener($event)"></app-color-control>

                        <app-color-control [id]="'iColor3'" [label]="'4'"
                            [defaultValue]="racer.driverSkin.color3.toStringHex()"
                            [colorValue]="racer.driverSkin.color3"
                            (onChange)="racerColor3EventListener($event)"></app-color-control>
                    </div>
                </div>
            </div>

            <div class="ks-section">
                <h4 class="ks-section-title">Helmet</h4>
                <div class="row">
                    <div class="col-sm-12">
                        <app-dropdown-form-option [id]="'iHelmetId'" [label]="'Helmet'" [options]="helmetIds"
                            [defaultValue]="racer.helmet.id" [stringValue]="racer.helmet.id"
                            (onChange)="racerHelmetIdEventListener($event)"></app-dropdown-form-option>
                    </div>
                    <div class="col-sm-12">
                        <app-dropdown-form-option [id]="'iHelmetMaterial'" [label]="'Helmet Material'"
                            [options]="helmetMaterialsIds" [defaultValue]="racer.helmet.materialId"
                            [stringValue]="racer.helmet.materialId"
                            (onChange)="racerHelmetMaterialIdEventListener($event)"></app-dropdown-form-option>
                    </div>
                    <div class="col-sm-12">
                        <app-dropdown-form-option [id]="'iHelmetVisorId'" [label]="'Visor'" [options]="visorIds"
                            [defaultValue]="racer.helmet.visorId" [stringValue]="racer.helmet.visorId"
                            (onChange)="racerHelmetVisorEventListener($event)"></app-dropdown-form-option>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 row-colors-driver">
                        <app-color-control [id]="'iHelmetColor4'" [label]="'1'"
                            [defaultValue]="racer.helmet.color4.toStringHex()" [colorValue]="racer.helmet.color4"
                            (onChange)="racerHelmetColor4EventListener($event)"></app-color-control>

                        <app-color-control [id]="'iHelmetColor1'" [label]="'2'"
                            [defaultValue]="racer.helmet.color1.toStringHex()" [colorValue]="racer.helmet.color1"
                            (onChange)="racerHelmetColor1EventListener($event)"></app-color-control>

                        <app-color-control [id]="'iHelmetColor2'" [label]="'3'"
                            [defaultValue]="racer.helmet.color2.toStringHex()" [colorValue]="racer.helmet.color2"
                            (onChange)="racerHelmetColor2EventListener($event)"></app-color-control>

                        <app-color-control [id]="'iHelmetColor3'" [label]="'4'"
                            [defaultValue]="racer.helmet.color3.toStringHex()" [colorValue]="racer.helmet.color3"
                            (onChange)="racerHelmetColor3EventListener($event)"></app-color-control>
                    </div>
                </div>
            </div>

            <div class="ks-section">
                <h4 class="ks-section-title">Kart</h4>
                <div class="row">
                    <div class="col-sm-12 col-md-12">
                        <app-dropdown-form-option [id]="'iVehicleMaterial'" [label]="'Vehicle Material'"
                            [options]="vehicleMaterialIds" [defaultValue]="racer.vehicles[0].materialId"
                            [stringValue]="racer.vehicles[0].materialId"
                            (onChange)="racerVehicleMaterialEventListener($event)"></app-dropdown-form-option>
                    </div>
                    
                    <div class="col-sm-12">
                        <div class="ks-input-container">
                            <label for="iKartSymbol" class="form-label ks-label">Number</label>
                            <input type="number" min="0" max="99" class="form-control ks-text-control bg-dark text-white" id="iKartSymbol" 
                                [(ngModel)]="racer.vehicles[0].symbol"
                                (ngModelChange)="racerVehicleSymbolEventListener()">                    
                        </div>
                    </div>
                </div>
                <div class="row">

                    <div class="col-sm-12 row-colors-kart">

                        <app-color-control [id]="'iLiveryColor1'" [label]="'1'"
                            [colorValue]="racer.vehicles[0].liveryColor1"
                            [defaultValue]="racer.vehicles[0].liveryColor1.toStringHex()"
                            (onChange)="racerVehicleLiveryColor1EventListener($event)"></app-color-control>

                        <app-color-control [id]="'iLiveryColor2'" [label]="'2'"
                            [colorValue]="racer.vehicles[0].liveryColor2"
                            [defaultValue]="racer.vehicles[0].liveryColor2.toStringHex()"
                            (onChange)="racerVehicleLiveryColor2EventListener($event)"></app-color-control>

                        <app-color-control [id]="'iLiveryColor3'" [label]="'3'"
                            [colorValue]="racer.vehicles[0].liveryColor3"
                            [defaultValue]="racer.vehicles[0].liveryColor3.toStringHex()"
                            (onChange)="racerVehicleLiveryColor3EventListener($event)"></app-color-control>

                        <app-color-control [id]="'iLiveryColor4'" [label]="'4'"
                            [colorValue]="racer.vehicles[0].liveryColor4"
                            [defaultValue]="racer.vehicles[0].liveryColor4.toStringHex()"
                            (onChange)="racerVehicleLiveryColor4EventListener($event)"></app-color-control>

                        <app-color-control [id]="'iWheelHubColor'" [label]="'Wheel Hub'"
                            [colorValue]="racer.vehicles[0].wheelHubColor"
                            [defaultValue]="racer.vehicles[0].wheelHubColor.toStringHex()"
                            (onChange)="racerVehicleWheelHubColorEventListener($event)"></app-color-control>

                        <app-color-control [id]="'iFrameColor'" [label]="'Frame'"
                            [colorValue]="racer.vehicles[0].frameColor"
                            [defaultValue]="racer.vehicles[0].frameColor.toStringHex()"
                            (onChange)="racerVehicleFrameColorEventListener($event)"></app-color-control>

                        <app-color-control [id]="'iMetalHighlightColor'" [label]="'Metal Highlight'"
                            [colorValue]="racer.vehicles[0].metalHighlightsColor"
                            [defaultValue]="racer.vehicles[0].metalHighlightsColor.toStringHex()"
                            (onChange)="racerVehicleMetalHighlightsEventListener($event)"></app-color-control>

                        <app-color-control [id]="'iSteeringWheel1Color'" [label]="'Steering Wheel 1'"
                            [colorValue]="racer.vehicles[0].steeringWheelColor1"
                            [defaultValue]="racer.vehicles[0].steeringWheelColor1.toStringHex()"
                            (onChange)="racerVehicleSteeringWheelColor1EventListener($event)"></app-color-control>

                        <app-color-control [id]="'iSteeringWheel2Color'" [label]="'Steering Wheel 2'"
                            [colorValue]="racer.vehicles[0].steeringWheelColor2"
                            [defaultValue]="racer.vehicles[0].steeringWheelColor2.toStringHex()"
                            (onChange)="racerVehicleSteeringWheelColor2EventListener($event)"></app-color-control>
                        <div style="flex: 1 0 20%">

                        </div>
                    </div>
                </div>

            </div>

            <div class="ks-section">
                <h4 class="ks-section-title">Animations</h4>
                <div class="row">
                    <div class="col-sm-12">
                        <app-dropdown-form-option [id]="'iIdleAnimation'" [label]="'Idle Animation'"
                            [options]="idsAnimations" [defaultValue]="racer.idleAnimation"
                            [stringValue]="racer.idleAnimation"
                            (onChange)="racerAnimationEventListener($event)"></app-dropdown-form-option>
                    </div>
                    <div class="col-sm-12">
                        <app-dropdown-form-option [id]="'iCelebrationAnimation'" [label]="'Celebration Animation'"
                            [options]="celebrationAnimations" [defaultValue]="racer.celebrationAnimation"
                            [stringValue]="racer.celebrationAnimation"
                            (onChange)="racerCelebrationAnimationsEventListener($event)"></app-dropdown-form-option>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-4">

        <div class="container">
            <div class="ks-section">
                <h4 class="ks-section-title">Previsualize</h4>
                <app-previsualize-item [selectedOption]="racer.helmet.materialId">
                    <div id="helmetmaterial-modern-full-face-0" class="ks-preview-container ks-preview-item-show">
                        <div class="ks-helmet">
                            <div class="helmet-visor"></div>
                            <div class="helmet-color2 ks-helmet-0-color2"></div>
                            <div class="helmet-color3 ks-helmet-0-color3"></div>
                            <div class="helmet-color4 ks-helmet-0-color4"></div>
                        </div>
                    </div>
                    <div id="helmetmaterial-modern-full-face-1" class="ks-preview-container">
                        <div class="ks-helmet">
                            <div class="helmet-visor"></div>
                            <div class="helmet-color2 ks-helmet-1-color2-1"></div>
                            <div class="helmet-color2 ks-helmet-1-color2-2"></div>
                            <div class="helmet-color3 ks-helmet-1-color3"></div>
                            <div class="helmet-color4 ks-helmet-1-color4"></div>
                        </div>
                    </div>
                    <div id="helmetmaterial-modern-full-face-2" class="ks-preview-container">
                        <div class="ks-helmet">
                            <div class="helmet-visor"></div>
                            <div class="helmet-color2 ks-helmet-2-color2-1"></div>
                            <div class="helmet-color2 ks-helmet-2-color2-2"></div>
                            <div class="helmet-color3 ks-helmet-2-color3-1"></div>
                            <div class="helmet-color3 ks-helmet-2-color3-2"></div>
                            <div class="helmet-color4 ks-helmet-2-color4-1"></div>
                            <div class="helmet-color4 ks-helmet-2-color4-2"></div>
                        </div>
                    </div>
                    <div id="helmetmaterial-modern-full-face-3" class="ks-preview-container">
                        <div class="ks-helmet">
                            <div class="helmet-visor"></div>
                            <div class="helmet-color2 ks-helmet-3-color2-10"></div>
                            <div class="helmet-color2 ks-helmet-3-color2-11"></div>
                            <div class="helmet-color2 ks-helmet-3-color2-20"></div>
                            <div class="helmet-color2 ks-helmet-3-color2-21"></div>
                            <div class="helmet-color2 ks-helmet-3-color2-30"></div>
                            <div class="helmet-color2 ks-helmet-3-color2-31"></div>
                            <div class="helmet-color2 ks-helmet-3-color2-40"></div>
                            <div class="helmet-color3 ks-helmet-3-color3-10"></div>
                            <div class="helmet-color3 ks-helmet-3-color3-11"></div>
                            <div class="helmet-color4 ks-helmet-3-color4-10"></div>
                            <div class="helmet-color4 ks-helmet-3-color4-11"></div>
                            <div class="helmet-color4 ks-helmet-3-color4-12"></div>
                            <div class="helmet-color4 ks-helmet-3-color4-13"></div>
                        </div>
                    </div>

                </app-previsualize-item>
                <div>
                    <div id="helmetmaterial-modern-full-face-0" class="ks-preview-container ks-preview-item-show">
                        <div class="ks-suit">
                            <div class="suit-color-1 ks-suit-shoulders"></div>
                            <div class="suit-color-1 ks-suit-arm-i"></div>
                            <div class="suit-color-1 ks-suit-arm-d"></div>
                            <div class="suit-color-2 ks-suit-butt"></div>
                            <div class="suit-color-2 ks-suit-leg-i"></div>
                            <div class="suit-color-2 ks-suit-leg-d"></div>
                            <div class="suit-color-3 ks-suit-line-up"></div>
                            <div class="suit-color-4 ks-suit-line-down"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="col-sm-12 col-md-12 col-lg-4">
        <div class="container">

            <div class="ks-section">
                <h4 class="ks-section-title">File Generated</h4>
                <div class="row">
                    <app-file-area (onChange)="racerJsonGeneratedEventListener($event)"></app-file-area>
                </div>
            </div>
        </div>
    </div>
</div>