.ks-helmet-1-color2-1 {
    height: 10px;
    left: 20px;
    right: 20px;
}

.ks-helmet-1-color2-2 {
    width: 100%;
    height: 20px;
    top: 78px;
}

.ks-helmet-1-color3 {
    width: 100%;
    height: 20px;
    top: 100px;
}

.ks-helmet-1-color4 {
    width: 100%;
    height: 20px;
    top: 122px;
}