.container {
    margin: 0px;
    padding: 0px;
    max-width: 100%;
}

/* ScrollBar */
/* Estilos para la barra de desplazamiento */
/* Establece el ancho y el color de fondo de la barra de desplazamiento */
::-webkit-scrollbar {
    width: 12px;
    background-color: #f1f1f1;
  }
  
  /* Estilos para el "pulgar" (thumb) de la barra de desplazamiento */
  /* Establece el color y la forma del pulgar */
  ::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
  }
  
  /* Estilos para la "pista" (track) de la barra de desplazamiento */
  /* Establece el color de fondo de la pista */
  ::-webkit-scrollbar-track {
    background-color: #f1f1f1;
  }





input[type='color'] {
  min-height: 70px;
  border-radius: 10px;
}

.mono{
  margin: 0px;
  font-size: smaller;
  font-weight: 500;
  color: darkgreen;
}
.casco{
  margin: 0px;
  font-size: smaller;
  font-weight: 500;
  color: darkblue;
}
.fas, .fa{
  margin-right: 5px;
}