body {
    background-image: linear-gradient(135deg, #080a34, #a29aa9);
}

.ks-section-title {
    display: flex;
    border-bottom: 1px solid white;
    margin: 0px 3px 10px;
    flex-direction: column;
    align-items: center;
}

.ks-section {
    background-color: #00000066;
    border-radius: 12px;
    padding: 20px 5px;
    color: white;   
    margin: 15px 0px;
}