@import './app/styles/helmets.scss';

@import './app/styles/variables.scss';

body {
    background-image: linear-gradient(135deg, #080a34, #a29aa9);
}

.ks-section-title {
    display: flex;
    border-bottom: 1px solid white;
    margin: 0px 3px 10px;
    flex-direction: column;
    align-items: center;
}

.ks-section {
    background-color: #00000066;
    border-radius: 12px;
    padding: 20px 5px;
    color: white;   
    margin: 15px 0px;
}


.ks-preview-list > div{
    display: none;
}

.ks-preview-list > div.ks-preview-item-show {
    display: block;
}

.ks-preview-container {
    background-color: transparent;
    border-radius: 4px;
    display: block;
    position: relative;
    min-width: 200px;
    min-height: 300px;
}


.ks-text-control{
    flex: 1;
    text-align: center;
    font-weight: 600;
    background-color: $color-background-ks-input !important;
    color: white;
    cursor: pointer;
    border: none;
}

.ks-input-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 5px 10px;
}

.ks-label{
    flex: 1;
}